#aspd1 {
  padding-top: 2rem;
}
#aspd2 {
  position: relative;
}
#aspd3 {
  color: #ffebc0;
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
}
#aspd4 {
  /* background: #818890; */
  /* border-radius: 1.5rem; */
  width: 90%;
  height: 100%;
}
#aspd5 {
  margin: 1rem;
}
#aspd6 {
  font-size: 1rem;
  font-weight: 500;
  color: #ffebc0;
}
#aspd7 {
  font-size: 0.9rem;
  font-weight: 400;
  color: #ffebc0;
}
#aspd8 {
  background: #1a1a1a;
  padding-bottom: 1rem;
}
#aspd9 {
  /* transform: rotate(0deg); */
  /* height: 1.5rem; */
  font-size: 1rem;
  color: #ffebc0;
  margin-right: 0.5rem;
}
#aspd10 {
  display: flex;
  justify-content: center;
}
#aspd11 {
  width: 120%;
  font-size: 0.9rem;
  font-weight: 400;
  background: #014541;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: none;
  margin-bottom: 0.5rem;
  color: #ffebc0;
}
#edci {
  background-color: #ffebc0;
  border-radius: 1rem;
  height: 20rem;
}
#edci2 {
  padding: 3rem;
}
#edci3 {
  padding-left: 3rem;
}

#shoot1 {
  background-color: #000000;
  padding-top: 1rem;
  padding-bottom: 4.8rem;
}
#shoot2 {
  color: #ffebc0;
  margin-top: 1rem;
}
#shoot3 {
  background: #ffebc0;
  color: black;
  width: 100%;
  border-radius: 0.6rem;
  border: none;
  font-style: normal;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#shoot4 {
  width: 98%;
  height: 91%;
}
#shoot5 {
  width: 90%;
  border: none;
  background-color: #1931bb;
  margin-top: 0.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
#shoot6 {
  transform: rotate(90deg);
  height: 1.5rem;
  width: 1.5rem;
  color: #ffebc0;
}
#shoot7 {
  display: flex;
  justify-content: center;
}
#galleryContainer {
  /* display: flex;
  justify-content: center; */
  /* align-items: center; */
  /* height: 100vh; */
  background: #1a1a1a;
  color: #ffebc0;
  text-align: justify;
  padding-bottom: 5rem;
  padding-left: 0rem;
  padding-right: 0rem;
}