#contactUsContainer {
  padding-left: 0px;
  padding-right: 0px;
  background: #1a1a1a;

}

#cuf1 {

  color: white;
  text-align: justify;
  padding-bottom: 5rem;
}
#cuf2 {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cuf3 {
  color: #000;
  border-radius: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /* box-shadow: 1px 3px 1px #9E9E9E; */
}
#contact2 {
  background: #ffebc0;
  text-align: center;
  padding-top: 2rem;
  border-radius: 0.9rem;
}
#contact3 {
  background: #000;
  border: none;
  color: rgba(251, 252, 253, 0.65);
  font-weight: 500;
  width: 30%;
  margin-bottom: 2rem;
}

#cuf5{
  color: #ffebc0;
  font-family: prata;
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
}