#footer1{
    background: #ffebc0;
    font-family: inter;
    font-size: .8rem;
    font-weight: 500;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: .8rem;
    text-align: center;
}